/*001*/
body{
    padding: 0;
    margin: 0;
    background-color: rgb(237, 165, 87);
    color: black;
}
/*001*/
h1 {
    font-size : 3em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
/*001*/
h2 {
    font-size : 2.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
/*001*/
h3 {
    text-align: center;
    font-size : 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
/*001*/
p{
    font-size : 1.2em;
    text-align: center;
}
/*001*/
main{
    height: 70vh;
    width: 90vw;
    margin: auto;
    border-style: groove;
}
/*001*/
section{
    background-color: rgb(209 232 184);
    color: black;
    padding: 2vw 5vw;
    margin: 10vh;
    border-radius: 10px;
    border-style: dashed;
}